<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Middleware practice</title>
</head>

<body>
  <h1>Middleware practice</h1>
  <a href="/">get'/'</a>
  <a href="/new">get'/new'</a>
  <a href="/1234567">get'/:id'</a>
  <form action="/" method="POST" style="display: inline;"><button type="submit">post'/'</button></form>
  {{{body}}}
</body>

</html>